body {
  background: url("../public/sk-CNBRg1K9QvQ-unsplash.jpg") no-repeat center fixed;
  background-size: cover;
  /* background-color: rgb(230, 210, 186); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.container {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.avatar {
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  border: 5px rgba(30, 27, 24, 0) solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.avatar img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.box {
  background:rgb(239, 232, 232, 0.5);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.welcome-back {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  padding: 5px 5px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #0e0d0d;
  /* background-color: #d5d5d5; */
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #d7c8c8, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.company-position {
  font-family: 'Babylonica', cursive;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.remaining-hours {
  font-family: 'Manrope', sans-serif;
  font-size: 30px;
  padding-right: 5px;
  margin: 10px;
  text-rendering: optimizeLegibility;
}

.hours-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.remaining-hours-text {
  font-family: 'Courier Prime', monospace;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  color: rgba(0, 0, 0, 0.919);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.389),
                 0px -5px 10px rgb(255, 255, 255);
}

.nav-title {
  color: antiquewhite;
  font-size: 50px;
}

.nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.nav-link {
  display:inline-block;
  padding: 10px;
  font-family:'Courier New', Courier, monospace;
  text-decoration: none;
  color: #d7c8c8;
  font-size: 20px;
}

.login-container {
 width: 250px;
 margin-top: 50%;
 padding: 20%;
}

.login {
	background:rgb(239, 232, 232, 0.3);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.username {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  font-size: 20px;
  text-rendering: optimizeLegibility;

}

.password {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.alt-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background:rgb(239, 232, 232, 0.3);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 30px;
  padding: 10px;
}

.alt-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: black;
  text-rendering: optimizeLegibility;
}

.account-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0;
  max-width: 100%;
}

.account-grid-item {
  padding: 5px;
  margin: 5px;
  max-width: max-content;
  align-items: center;
  justify-content: center;
}

.account-grid-content {
  text-align: start;
  margin: 5px;
}

.account-grid-header {
  text-align: center;
  margin: 5px;
}

.account-button-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.account-button {
  padding: 5px;
  margin: 20px;
  width: 200px;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  background:#d7c8c8;
  border-color: #0e0d0d;
}

.my-role-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.my-role-card-item {
  display: flex;
  padding: 3rem;
  max-width: 56rem;
  width: 33.3333%;
}

.my-role-card {
  background:rgba(255, 245, 245, 0.7);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.my-role-card-image:hover{
  filter:contrast(100%);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.my-role-card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91); 
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  min-height: 230px;
}

.my-role-card-image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.my-role-card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.project-info {
  display: block;
  float: right;
  max-width: 60%;
}
.project-info-container {
  display: flex;
  max-width: 65%;
  justify-items: center;
  flex-direction: column;
  float: right;
  margin: 20px;
}


.member-list-container {
  display: block;
  float: left;
  max-width: 20%;
}

.member-cards {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 30%;

}

.member-cards-item {
  display: flex;
  justify-self: left;
  position:absolute;
  padding: 1rem;
}

.member-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.member-card-info:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.member-card-img {
  height: auto;
  max-width: 50%;
  vertical-align: middle;
}
.member-info {
  align-items: center;
}